.CFUserTextEncoding
.DS_Store
.aws/
.bash_history
.cache/
.cargo/
.cdk/
.dlv/
.docker/
.erg/
.ipython/
.lemminx/
.lesshst
.local/
.metaflowconfig/
.npm/
.nvm/
.pgadmin/
.profile
.psql_history
.pulumi/
.python_history
.rover/
.rustup/
.ssh/
.terminfo/
.viminfo
.vscode/
.wget-hsts
.zcompdump
.zprofile
.zsh_history
.zsh_sessions/
.zshenv
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/
notes/
