.CFUserTextEncoding
.DS_Store
.aws/
.bash_history
.cache/
.cargo/
.cdk/
.dlv/
.docker/
.erg/
.ipython/
.lemminx/
.lesshst
.local/
.metaflowconfig/
.npm/
.nvm/
.pgadmin/
.profile
.psql_history
.pulumi/
.python_history
.rover/
.rustup/
.ssh/
.terminfo/
.viminfo
.vscode/
.wget-hsts
.zcompdump
.zprofile
.zsh_history
.zsh_sessions/
.zshenv
.ICEauthority
.Xauthority
.Xdefaults
.android/
.anthy/
.audacity-data/
.bundle/
.ccache/
.config/gh/
.config/xfce4/
.conftest
.dbus/
.dir
.dmrc
.dotnet/
.emacs.d/
.emacs~
.face
.fonts/
.gnupg/
.gnuplot_history
.gradle/
.hplip/
.java/
.joplin/
.jupyter/
.mozc/
.mozilla/
.netlogo/
.pam_environment
.parallel/
.pki/
.pulse-cookie
.ssr/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.t-engine/
.texlive2019/
.wine/
.wx_docview_sample
.xinputrc
.xscreensaver
.xsession-errors
.xsession-errors.old
.zoom/
.zotero/
Bureau/
Images/
Musique/
Videos/
config_backup/
gems/
snap/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/
notes/

