@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color wht   #ffffff;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    color: @fg;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background-color: transparent;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.empty {
    color: @wht;
}

#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#tray,

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#battery {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}
